@import "./_variables.scss";

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../media/barcelonaa.jpg");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);   
    height: 20vh;
    @include tablet{
        height: 35vh;
    }
    @include desktop{
        height: 70%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.title-parent{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    height: 20vh;
    width: 100%;
    margin: 0;
}  


.title-child-title{
    color: color(secondary);
    letter-spacing: .2rem;
    font-size: 2rem ;
    font-family: 'Bangers', cursive;
    @include tablet{
        font-size: 3rem;
    }
    @include desktop{
        font-size: 4rem;
    } 
}

 .title-divider{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2;
    @include divider;
}
 /*
.section-divider-1{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(7deg);
    @include tablet{
        transform: skewY(6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(4deg);
        height: 5rem;
    }
}

.section-divider-2{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(-7deg);
    @include tablet{
        transform: skewY(-6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(-4deg);
        height: 5rem;
    }
}
 */

