@import "./variables";

.barca-visit{
    margin: 0rem;
}

.barca-visit-parent{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.barca-visit-title{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: color(secondary);
} 

h1{
    margin: .5rem;
}

.visit-image{
    height: 20vh;
} 

.visit-flip-card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 1rem;
    height: 50vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-side{
    height: 30rem;
    width: 20rem;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}

.visit-image-front{
    background-image: url("../media/parkguell.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all .8s ease-in;
}

.visit-image-back{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all .8s ease-out;
}

.visit-flip-card:hover .visit-image-front{
    transform: rotateY(-180deg);
}

.visit-flip-card:hover .visit-image-back{
    transform: rotateY(0deg);
} 