@import "./_variables.scss";

.activities{
    margin: 0rem;
    height: 65vh;
    @include tablet{
        height: 72vh;
    }
    @include desktop {
        height: 135vh;
    }
}

.activities-title{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: color(secondary);
    text-align: center;
    height: 2vh;
    letter-spacing: .2rem;
    margin-top: 2rem;
    height: 8vh;

    @include tablet{
        font-size: 3rem;
        height: 6vh;
        margin-top: 3rem;
    }    
    @include desktop{
        font-size: 4rem;
        height: 10vh;
        margin-top: 2rem;
    }
}

.activity-one{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
    background-color: color(complementary);
    height: 15vh;
    margin-bottom: 2rem;
    @include tablet{
        height: 18rem;
    }
    @include desktop{
        height: 25rem;
    }

}

.activity-one-content{
    height: 12.2rem;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;   
    text-align: center;
    font-size: 1rem;
    @include tablet{
        height: 18.2rem;
        margin-left: 18rem;
        font-size: 1.5rem;
    }
    @include desktop{
        height: 25.2rem;
        margin-left: 22rem;
        font-size: 2rem;
        width: 50%;
        margin-top: 4rem;
    }
}

.activity-image{
    height: 11rem;
    @include tablet{
        height: 17rem;
    }
    @include desktop{
        height: 24rem;
    }
}

.activity-two{
    clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
    background-color: color(complementary);
    height: 15vh;
    margin-bottom: 2rem;
    @include tablet{
        height: 18rem;
    }
    @include desktop{
        height: 25rem;
    }

}

.activity-two-content{
    height: 12.2rem;
    margin-right: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;   
    text-align: center;
    font-size: 1rem;
    @include tablet{
        height: 18.2rem;
        margin-right: 18rem;
        font-size: 1.5rem;
    }
    @include desktop{
        height: 25.2rem;
        margin-right: 22rem;
        font-size: 2rem;
        width: 50%;
        margin: 4rem;
    }
}


.activity-three{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
    background-color: color(complementary);
    height: 15vh;
    margin-bottom: 3rem;
    @include tablet{
        height: 18rem;
        margin-bottom: 4rem;
    }
    @include desktop{
        height: 25rem;
    }

}

.activity-three-content{
    height: 12.2rem;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;   
    text-align: center;
    font-size: 1rem;
    @include tablet{
        height: 18.2rem;
        margin-left: 18rem;
        font-size: 1.5rem;
    }
    @include desktop{
        height: 25.2rem;
        margin-left: 22rem;
        font-size: 2rem;
        width: 50%;
        margin-top: 4rem;
    }
}

// p{
//     font-size: 1rem;
//     @include tablet{
//         font-size: 1.5rem;
//     }
//     @include desktop{
//         font-size: 2rem;
//         width: 50%;
//         margin: 4rem;
//     }
// }

.title-divider{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    @include divider;
}