@import "./_variables.scss";

.food{
    margin: 0rem;
    height: 100vh;
}

.food-title{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: color(secondary);
    text-align: center;
    height: 2vh;
    letter-spacing: .2rem;
    margin-top: 1rem;
    height: 5vh;

    @include tablet{
        font-size: 3rem;
        height: 6vh;
        margin-top: 1rem;
    }    
    @include desktop{
        font-size: 4rem;
        height: 10vh;
        margin-top: 2rem;
    }
}

.food-content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-content-1{
    height: 25vh;
    position: relative;
    text-align: center;
    background-image: url("../media/churros2.0.jpg");
    background-size: cover; 
    margin-bottom: 1.5rem;
}

.food-content-1:hover{
    background-size: cover; 
    transition: height 0.5s ease-out;
    background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),
    url("../media/churros2.0.jpg"); 
    
}

.food-content-text{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    text-align: center;
    color: color(secondary);
    position: absolute;
    opacity: 0;    
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20vh;
    width: 100%;
}

.food-content-text:hover{
    opacity:1;    
    
}

.food-content-2{
    height: 25vh;
    position: relative;
    text-align: center;
    background-image: url("../media/paella.jpg");
    background-size: cover; 
    margin-bottom: 1.5rem;
}

.food-content-2:hover{
    background-size: cover; 
    transition: height 0.5s ease-out;
    background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),
    url("../media/paella.jpg"); 
    
}

.food-content-3{
    height: 25vh;
    position: relative;
    text-align: center;
    background-image: url("../media/cremacatalana.jpg");
    background-size: cover; 
    margin-bottom: 1.5rem;
}

.food-content-3:hover{
    background-size: cover; 
    transition: height 0.5s ease-out;
    background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),
    url("../media/cremacatalana.jpg"); 
}

.title-divider{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    @include divider;
}