@import "./_variables.scss";

.barca-visit{
    margin: 0rem;

}

.barca-visit-parent{
    height: 90vh;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    @include tablet{
        flex-direction: row;
        align-items: flex-start;
        height: 35vh;
    }    
    @include desktop{
        height: 80vh;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
    }
}



.barca-visit-title{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: color(secondary);
    text-align: center;
    height: 2vh;
    letter-spacing: .2rem;

    @include tablet{
        font-size: 3rem;
        height: 6vh;
        margin-top: 1rem;
    }    
    @include desktop{
        font-size: 4rem;
        height: 10vh;
        margin-top: 2rem;
    }
} 

h1{
    margin: .5rem;
}


.visit-flip-card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 1rem;
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet{
        height: 28vh;
        width: 18vh;
    }
    @include desktop{
        height: 60vh;
        width: 38vh;
    }

}

.card-side{
    height: 21rem;
    width: 15rem;
    font-size: 1rem;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    @include tablet{
        height: 28rem;
        width: 18rem;
        font-size: 1.5rem;
    }
    @include desktop{
        height: 40rem;
        width: 25rem;
        font-size: 2rem;
    }
}

.visit-image-front{
    background-image: url("../media/parkguell.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all .8s ease-in;
}

.visit-image-back{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all .8s ease-out;
}

.visit-flip-card:hover .visit-image-front{
    transform: rotateY(-180deg);
}

.visit-flip-card:hover .visit-image-back{
    transform: rotateY(0deg);
} 

.visit-flip-card-2{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 1rem;
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet{
        height: 28vh;
        width: 18vh;
    }
    @include desktop{
        height: 60vh;
        width: 38vh;
    }
}

.visit-image-front-2{
    background-image: url("../media/lasagrada.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all .8s ease-in;
}

.visit-image-back-2{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all .8s ease-out;
}

.visit-flip-card-2:hover .visit-image-front-2{
    transform: rotateY(-180deg);
}

.visit-flip-card-2:hover .visit-image-back-2{
    transform: rotateY(0deg);
} 

.visit-flip-card-3{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 1rem;
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet{
        height: 28vh;
        width: 18vh;
    }
    @include desktop{
        height: 60vh;
        width: 38vh;
    }

}

.visit-image-front-3{
    background-image: url("../media/gaudihouse.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    transition: all .8s ease-in;
}

.visit-image-back-3{
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all .8s ease-out;
}

.visit-flip-card-3:hover .visit-image-front-3{
    transform: rotateY(-180deg);
}

.visit-flip-card-3:hover .visit-image-back-3{
    transform: rotateY(0deg);
} 


/* .section-divider-1{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(7deg);
    @include tablet{
        transform: skewY(6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(4deg);
        height: 5rem;
    }
}

.section-divider-2{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(-7deg);
    @include tablet{
        transform: skewY(-6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(-4deg);
        height: 5rem;
    }
}
 */

.title-divider{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    @include divider;
}

