:root{
  --overlay-color: rgba(24, 39, 51, 0.85)
  --menu-speed: 0.75s;
}

$colors:(
    primary:#C67162,
    secondary: white,
    complementary:rgba(232, 176, 166, 0.514),
);

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;


@function color($color-name){
    @return map-get($colors, $color-name);
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }
  @mixin laptop {
    @media (min-width: #{$laptop}) {
      @content;
    }
  }
  @mixin tablet {
    @media (min-width: #{$tablet}) {
      @content;
    }
  }

  @mixin divider {
   
  .section-divider-1{
      width: 51%;
      height: 2rem;
      background-color: color(secondary);
      transform: skewY(7deg);
      @include tablet{
          transform: skewY(6deg);
          height: 4rem;
      }
      @include desktop{
          transform: skewY(4deg);
          height: 5rem;
      }
  }
  
  .section-divider-2{
      width: 51%;
      height: 2rem;
      background-color: color(secondary);
      transform: skewY(-7deg);
      @include tablet{
          transform: skewY(-6deg);
          height: 4rem;
      }
      @include desktop{
          transform: skewY(-4deg);
          height: 5rem;
      }
  }
  
  }