@import "./_variables.scss";

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background-color: color(primary);
} 

.title-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    width: 100%;
    position: relative;
}

.title-child-image{
    clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
    height: 20vh;
    width: 100%;
}

.title-child-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: color(secondary);
    letter-spacing: .5rem;
    font-size: 2rem ;
    font-family: 'Bangers', cursive;
}

.section-divider{
    height: 0;
    width: 0;
    border-left: 100px solid #ff4136;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    color: color(secondary);
}