.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../media/barcelonaa.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
          clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
  height: 20vh;
}

@media (min-width: 600px) {
  .header {
    height: 35vh;
  }
}

@media (min-width: 1100px) {
  .header {
    height: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.title-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 20vh;
  width: 100%;
  position: relative;
  margin: 0;
}

.title-child-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  letter-spacing: .2rem;
  font-size: 2rem;
  font-family: 'Bangers', cursive;
}

@media (min-width: 600px) {
  .title-child-title {
    font-size: 3rem;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1100px) {
  .title-child-title {
    font-size: 4rem;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.section-divider-1 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 600px) {
  .section-divider-1 {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .section-divider-1 {
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    height: 5rem;
  }
}

.section-divider-2 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (min-width: 600px) {
  .section-divider-2 {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .section-divider-2 {
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 5rem;
  }
}

.title-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C67162;
}
/*# sourceMappingURL=main.css.map */