.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../media/barcelonaa.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
          clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
  height: 20vh;
}

@media (min-width: 600px) {
  .header {
    height: 35vh;
  }
}

@media (min-width: 1100px) {
  .header {
    height: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.title-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 20vh;
  width: 100%;
  margin: 0;
}

.title-child-title {
  color: white;
  letter-spacing: .2rem;
  font-size: 2rem;
  font-family: 'Bangers', cursive;
}

@media (min-width: 600px) {
  .title-child-title {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .title-child-title {
    font-size: 4rem;
  }
}

.title-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2;
}

.title-divider .section-divider-1 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    height: 5rem;
  }
}

.title-divider .section-divider-2 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 5rem;
  }
}

/*
.section-divider-1{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(7deg);
    @include tablet{
        transform: skewY(6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(4deg);
        height: 5rem;
    }
}

.section-divider-2{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(-7deg);
    @include tablet{
        transform: skewY(-6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(-4deg);
        height: 5rem;
    }
}
 */
.barca-visit {
  margin: 0rem;
}

.barca-visit-parent {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 600px) {
  .barca-visit-parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 35vh;
  }
}

@media (min-width: 1100px) {
  .barca-visit-parent {
    height: 80vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.barca-visit-title {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 2vh;
  letter-spacing: .2rem;
}

@media (min-width: 600px) {
  .barca-visit-title {
    font-size: 3rem;
    height: 6vh;
    margin-top: 1rem;
  }
}

@media (min-width: 1100px) {
  .barca-visit-title {
    font-size: 4rem;
    height: 10vh;
    margin-top: 2rem;
  }
}

h1 {
  margin: .5rem;
}

.visit-flip-card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin-top: 1rem;
  height: 30vh;
  width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .visit-flip-card {
    height: 28vh;
    width: 18vh;
  }
}

@media (min-width: 1100px) {
  .visit-flip-card {
    height: 60vh;
    width: 38vh;
  }
}

.card-side {
  height: 21rem;
  width: 15rem;
  font-size: 15px;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
  .card-side {
    height: 28rem;
    width: 18rem;
  }
}

@media (min-width: 1100px) {
  .card-side {
    height: 40rem;
    width: 25rem;
  }
}

.visit-image-front {
  background-image: url("../media/parkguell.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.visit-image-back {
  position: absolute;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.visit-flip-card:hover .visit-image-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.visit-flip-card:hover .visit-image-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.visit-flip-card-2 {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin-top: 1rem;
  height: 30vh;
  width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .visit-flip-card-2 {
    height: 28vh;
    width: 18vh;
  }
}

@media (min-width: 1100px) {
  .visit-flip-card-2 {
    height: 60vh;
    width: 38vh;
  }
}

.visit-image-front-2 {
  background-image: url("../media/lasagrada.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.visit-image-back-2 {
  position: absolute;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.visit-flip-card-2:hover .visit-image-front-2 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.visit-flip-card-2:hover .visit-image-back-2 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.visit-flip-card-3 {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin-top: 1rem;
  height: 30vh;
  width: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .visit-flip-card-3 {
    height: 28vh;
    width: 18vh;
  }
}

@media (min-width: 1100px) {
  .visit-flip-card-3 {
    height: 60vh;
    width: 38vh;
  }
}

.visit-image-front-3 {
  background-image: url("../media/gaudihouse.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.visit-image-back-3 {
  position: absolute;
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.visit-flip-card-3:hover .visit-image-front-3 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.visit-flip-card-3:hover .visit-image-back-3 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* .section-divider-1{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(7deg);
    @include tablet{
        transform: skewY(6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(4deg);
        height: 5rem;
    }
}

.section-divider-2{
    width: 51%;
    height: 2rem;
    background-color: color(secondary);
    transform: skewY(-7deg);
    @include tablet{
        transform: skewY(-6deg);
        height: 4rem;
    }
    @include desktop{
        transform: skewY(-4deg);
        height: 5rem;
    }
}
 */
.title-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.title-divider .section-divider-1 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    height: 5rem;
  }
}

.title-divider .section-divider-2 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 5rem;
  }
}

.activities {
  margin: 0rem;
  height: 65vh;
}

@media (min-width: 600px) {
  .activities {
    height: 72vh;
  }
}

@media (min-width: 1100px) {
  .activities {
    height: 135vh;
  }
}

.activities-title {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 2vh;
  letter-spacing: .2rem;
  margin-top: 2rem;
  height: 8vh;
}

@media (min-width: 600px) {
  .activities-title {
    font-size: 3rem;
    height: 6vh;
    margin-top: 3rem;
  }
}

@media (min-width: 1100px) {
  .activities-title {
    font-size: 4rem;
    height: 10vh;
    margin-top: 2rem;
  }
}

.activity-one {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  background-color: rgba(232, 176, 166, 0.514);
  height: 15vh;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .activity-one {
    height: 18rem;
  }
}

@media (min-width: 1100px) {
  .activity-one {
    height: 25rem;
  }
}

.activity-one-content {
  height: 12.2rem;
  margin-left: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

@media (min-width: 600px) {
  .activity-one-content {
    height: 18.2rem;
    margin-left: 18rem;
  }
}

@media (min-width: 1100px) {
  .activity-one-content {
    height: 25.2rem;
    margin-left: 22rem;
  }
}

.activity-image {
  height: 11rem;
}

@media (min-width: 600px) {
  .activity-image {
    height: 17rem;
  }
}

@media (min-width: 1100px) {
  .activity-image {
    height: 24rem;
  }
}

.activity-two {
  -webkit-clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
  background-color: rgba(232, 176, 166, 0.514);
  height: 15vh;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .activity-two {
    height: 18rem;
  }
}

@media (min-width: 1100px) {
  .activity-two {
    height: 25rem;
  }
}

.activity-two-content {
  height: 12.2rem;
  margin-right: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

@media (min-width: 600px) {
  .activity-two-content {
    height: 18.2rem;
    margin-right: 18rem;
  }
}

@media (min-width: 1100px) {
  .activity-two-content {
    height: 25.2rem;
    margin-right: 22rem;
  }
}

.activity-three {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  background-color: rgba(232, 176, 166, 0.514);
  height: 15vh;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .activity-three {
    height: 18rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1100px) {
  .activity-three {
    height: 25rem;
  }
}

.activity-three-content {
  height: 12.2rem;
  margin-left: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

@media (min-width: 600px) {
  .activity-three-content {
    height: 18.2rem;
    margin-left: 18rem;
  }
}

@media (min-width: 1100px) {
  .activity-three-content {
    height: 25.2rem;
    margin-left: 22rem;
  }
}

p {
  font-size: 1rem;
}

@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  p {
    font-size: 2rem;
    width: 50%;
    margin: 4rem;
  }
}

.title-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.title-divider .section-divider-1 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    height: 5rem;
  }
}

.title-divider .section-divider-2 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 5rem;
  }
}

.food {
  margin: 0rem;
  height: 90vh;
}

@media (min-width: 600px) {
  .food {
    height: 70vh;
  }
}

@media (min-width: 1100px) {
  .food {
    height: 160vh;
  }
}

.food-title {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 2vh;
  letter-spacing: .2rem;
  margin-top: 1rem;
  height: 5vh;
}

@media (min-width: 600px) {
  .food-title {
    font-size: 3rem;
    height: 6vh;
    margin-top: 1rem;
  }
}

@media (min-width: 1100px) {
  .food-title {
    font-size: 4rem;
    height: 10vh;
    margin-top: 2rem;
  }
}

.food-content {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .food-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 53vh;
  }
}

@media (min-width: 1100px) {
  .food-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 138vh;
    margin-bottom: 2rem;
  }
}

.food-content-1 {
  height: 25vh;
  position: relative;
  text-align: center;
  background-image: url("../media/churros2.0.jpg");
  background-size: cover;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .food-content-1 {
    width: 50%;
    margin-bottom: 0rem;
    background-image: url("../media/churros2.0.jpg");
    background-size: cover;
  }
}

@media (min-width: 1100px) {
  .food-content-1 {
    width: 50%;
    height: 50rem;
    margin-bottom: 0rem;
    background-image: url("../media/churros2.0.jpg");
    background-size: cover;
  }
}

.food-content-1:hover {
  background-size: cover;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/churros2.0.jpg");
}

.food-content-text {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  text-align: center;
  color: white;
  position: absolute;
  opacity: 0;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20vh;
  width: 100%;
}

@media (min-width: 600px) {
  .food-content-text {
    top: 50%;
    height: 25vh;
    margin: 0rem;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1100px) {
  .food-content-text {
    top: 50%;
    height: 69vh;
    margin: 0rem;
    font-size: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.food-content-text:hover {
  opacity: 1;
}

@media (min-width: 600px) {
  .food-content-text:hover {
    text-align: center;
  }
}

.food-content-2 {
  height: 25vh;
  position: relative;
  text-align: center;
  background-image: url("../media/paella.jpg");
  background-size: cover;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .food-content-2 {
    width: 50%;
    margin-bottom: 0rem;
    background-image: url("../media/paella.jpg");
    background-size: cover;
  }
}

@media (min-width: 1100px) {
  .food-content-2 {
    width: 50%;
    height: 50rem;
    margin-bottom: 0rem;
    background-image: url("../media/paella.jpg");
    background-size: cover;
  }
}

.food-content-2:hover {
  background-size: cover;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/paella.jpg");
}

@media (min-width: 600px) {
  .food-content-2:hover {
    text-align: center;
  }
}

.food-content-3 {
  height: 25vh;
  position: relative;
  text-align: center;
  background-image: url("../media/cremacatalana.jpg");
  background-size: cover;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .food-content-3 {
    width: 50%;
    margin: -14.3rem;
    background-image: url("../media/cremacatalana.jpg");
    background-size: cover;
  }
}

@media (min-width: 1100px) {
  .food-content-3 {
    width: 50%;
    height: 50rem;
    margin-bottom: 0rem;
    background-image: url("../media/cremacatalana.jpg");
    background-size: cover;
    margin: -4rem;
  }
}

.food-content-3:hover {
  background-size: cover;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/cremacatalana.jpg");
}

@media (min-width: 600px) {
  .food-content-3:hover {
    text-align: center;
  }
}

.title-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.title-divider .section-divider-1 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-1 {
    -webkit-transform: skewY(4deg);
            transform: skewY(4deg);
    height: 5rem;
  }
}

.title-divider .section-divider-2 {
  width: 51%;
  height: 2rem;
  background-color: white;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (min-width: 600px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    height: 4rem;
  }
}

@media (min-width: 1100px) {
  .title-divider .section-divider-2 {
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 5rem;
  }
}

.footer {
  height: 20vh;
  margin: 0rem;
  font-size: 5rem;
}

@media (min-width: 600px) {
  .footer {
    font-size: 8rem;
  }
}

@media (min-width: 1100px) {
  .footer {
    font-size: 10rem;
  }
}

.footer-content {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .footer-content {
    margin: 3rem;
  }
}

@media (min-width: 1100px) {
  .footer-content {
    margin: 5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.fa {
  padding: 2rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .fa {
    width: 8rem;
  }
}

@media (min-width: 1100px) {
  .fa {
    width: 10rem;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: rgba(232, 176, 166, 0.514);
  color: white;
}

.fa-twitter {
  background: rgba(232, 176, 166, 0.514);
  color: white;
}

.fa-facebook {
  background: rgba(232, 176, 166, 0.514);
  color: white;
}

.navigation_checkbox {
  display: none;
}

.navigation_button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation_icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after {
  content: "";
}

.navigation_icon::before {
  position: absolute;
  top: -.8rem;
  left: 0;
}

.navigation_icon::after {
  position: absolute;
  top: .8rem;
  left: 0;
}

.navigation_icon, .navigation_icon:before, .navigation_icon:after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation_button:hover .navigation_icon::before {
  top: -1rem;
}

.navigation_button:hover .navigation_icon::after {
  top: -1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation_item {
  margin: 1rem;
}

.navigation_nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 1;
  width: 0%;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2998ff, #28b499);
  z-index: 1000;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation_link, .navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation_link:hover, .navigation_link:activate {
  background-position: 100%;
  color: #2998ff;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation_checkbox:checked ~ .navigation_background {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 0;
  width: 100%;
  z-index: 200;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C67162;
}
/*# sourceMappingURL=main.css.map */